/* corpo */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background-color: #a35353;
    
    
}

/*cabeçalho*/
header {
    background-color: rgba(166, 188, 255, 0.9);; 
    height: 20vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 252, 252);
}

header h1 {
    font-size: 4vw;
    text-shadow: 3px 10px 4px rgba(0, 0, 0, 0.2);
}

/*menu de navegação fixo*/
nav ul {
    
    text-align: center;
    margin: 0;
    top: 0;
    padding: 0;
    position: fixed;
    width: 100%;
   
    background: rgba(35, 86, 240, 0.9);
    border-bottom: 3px solid #ccc;
}

/*elementos dos links em linha*/
nav ul li {
    display: inline;
    
}

/*formatação dos links*/
nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 10px;
    border-style:double;
    border-radius: 5px;
    background-color: white;
}


/*seções */
section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 60px auto 20px auto; 
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*formulário de contato */
/*form {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

form input,
form textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical; 
    min-height: 100px; 
}

form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}


/* Fundo personalizado para páginas */

body.index {
    background-image: url('index-backg.jpg');
    background-size: cover;
    background-position: auto;
}

body.sobre-page {
    background-image: url('sobre-backg.jpg');
    background-size: cover;
    background-position: center;
}

body.portfolio-page {
    background-image: url('portfolio-backg.jpg');
    background-size: cover;
    background-position: center;
}

body.contato-page {
    background-image: url('contato-backg.jpg');
    background-size: cover;
    background-position: center;
}

/*conteúdo em fundo com imagem */
section {
    background-color: rgba(255, 255, 255, 0.973);
    padding: 5px;
    border-radius: 8px;
    margin: 10px auto;
    max-width:90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#sobre {
    background-color: rgba(255, 255, 255, 0.973);
    padding: 5px;
    border-radius: 8px;
    margin: 10px auto;
    max-width:60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#academico {
    width: 50%;
    height: 50%;    
    border-radius: 10px;
}